/* Reset básico */
body, h1, h2, ul, li, input, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo global do body */
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #2C3E50; /* Azul escuro */
  color: #ECF0F1; /* Texto branco gelo */
  line-height: 1.6;
  background-image: url(./space.jpg);
  background-size: cover; 
  background-position: center;
}

/* Estilo do formulário de cadastro */
section {
  background-color: rgba(255, 255, 255, 0.1); /* Fundo semi-transparente */
  color: #ECF0F1; /* Texto branco gelo */
  width: 500px;
  margin: 100px auto; /* Ajuste na margem superior para melhor centralização */
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

/* Estilo do cabeçalho */
header h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  color: #27AE60; /* Verde vibrante */
}

/* Estilo das labels */
.label-visual {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #ECF0F1; /* Texto branco gelo */
}

/* Estilo dos inputs */
#conf-password, #password, #nome, #mail {
  margin-top: 12px;
  border-radius: 4px;
  width: 100%; /* Ajusta a largura para ocupar todo o espaço */
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  background-color: #BDC3C7; /* Fundo claro */
  color: #2C3E50; /* Texto azul escuro */
}

/* Estilo do botão */
#but {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  width: 100%; /* Ocupa toda a largura */
  height: 3rem;
  border-radius: 4px;
  background-color: #27AE60; /* Verde vibrante */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
}

#but:hover {
  background-color: #1E8449; /* Verde mais escuro */
}

/* Link de cadastro */
#link-cadastro {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #27AE60; /* Verde vibrante */
  margin-top: 20px;
}

/* Estilo opcional para a seção */
section div {
  margin-top: 12px;
}

/* Estilo da navegação lateral */
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* Estilo da lista de navegação */
.navbar ul li {
  display: inline;
  margin: 0 15px;
}

.navbar ul li a {
  color: #ECF0F1; /* Texto branco gelo */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #F39C12; /* Laranja vibrante */
}
